div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 900px;
    padding: 30px 20px;
    border-top: 2px solid whitesmoke; 
}

a {
    text-decoration: none;
    background-color: rgb(28, 189, 34);
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

p {
    text-align: center;
    line-height: 28px;
    width: 930px;
}

span {
    font-weight: bold;
}

img {
    width: 190px;
}

h3 {
    font-size: 20px;
}

h2 {
    font-size: 24px;
}